<a href="https://colab.research.google.com/github/vsquitiro/finalProjectCAP4770/blob/master/Playground.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fileURL = 'https://cap4770dsprojectsum.s3.amazonaws.com/creditcard.csv'

In [ ]:
print('Can you see this?')

Can you see this?

In [ ]:
print('2nd change')

2nd change

In [33]:
import pandas as pd
import s3fs

df = pd.read_csv('https://cap4770dsprojectsum.s3.amazonaws.com/creditcard.csv')

In [37]:
#from sklearn.preprocessing import RobustScaler

#rob_scaler = RobustScaler()

#df['scaled_amount'] = rob_scaler.fit_transform(df['Amount'].values.reshape(-1,1))
#df['scaled_time'] = rob_scaler.fit_transform(df['Time'].values.reshape(-1,1))

#df.drop(['Time','Amount'], axis=1, inplace=True)

In [38]:
from sklearn.preprocessing import MinMaxScaler

min_max = MinMaxScaler()

column_names = []
for name in df.columns:
  column_names.append(name)

x = df.values
x_scaled = min_max.fit_transform(x)
df = pd.DataFrame(x_scaled)
df.columns = column_names

In [36]:
df

              0         1         2   ...        28        29   30
0       0.000000  0.935192  0.766490  ...  0.312697  0.005824  0.0
1       0.000000  0.978542  0.770067  ...  0.313423  0.000105  0.0
2       0.000006  0.935217  0.753118  ...  0.311911  0.014739  0.0
3       0.000006  0.941878  0.765304  ...  0.314371  0.004807  0.0
4       0.000012  0.938617  0.776520  ...  0.317490  0.002724  0.0
...          ...       ...       ...  ...       ...       ...  ...
284802  0.999965  0.756448  0.873531  ...  0.329840  0.000030  0.0
284803  0.999971  0.945845  0.766677  ...  0.312038  0.000965  0.0
284804  0.999977  0.990905  0.764080  ...  0.312585  0.002642  0.0
284805  0.999977  0.954209  0.772856  ...  0.315245  0.000389  0.0
284806  1.000000  0.949232  0.765256  ...  0.313401  0.008446  0.0

[284807 rows x 31 columns]

In [ ]:
#Test set will be same for all models
import numpy as np
from sklearn.model_selection import train_test_split
X = df.drop('Class', axis=1)
y = df['Class']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=17)

In [ ]:
test = np.unique(y_train, return_counts=True)
test[0][1]/test[1][0]

4.396705987873885e-06

In [ ]:
test = np.unique(y_test, return_counts=True)
test[0][1]/test[1][0]

1.758334505556337e-05

In [ ]:
from imblearn.under_sampling import NearMiss
nm = NearMiss()
X_train_under, y_train_under = nm.fit_resample(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
from collections import Counter
print(Counter(y_train_under))

Counter({0: 402, 1: 402})

In [ ]:
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=0)
X_train_over, y_train_over = ros.fit_resample(X_train, y_train)
print(Counter(y_train_over))

Counter({0: 227443, 1: 227443})

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)